body
{
background:url(/images/head.png) repeat-x , url(/images/back.png) repeat;
background-color: #F1F1FF;
}
td:hover 
{
background-color: #C8BFBF;
    cursor: default; 
    color: #E5E6E3;
 }
input[type=button]
{
  display: inline-block;
  background-color: #3E78FD;  
  border-width: 1;
  border-color: #000000;
  }
input[type=button]:hover
{
  background-color: #6FA2F0;
  border-color: #000000;
}
span
{
font-size:12px;
font-family: Droid Sans;
font-weight: bold;
color:#001100;
}

h1
{
font-size: 14px;
font-weight: bold;
font-family: Jokerman;
color: #FCB603;
}
h2
{
font-style: italic;
font-size: 12px;
color: #FCB603;
}
#caption
{
	font-family: dark11;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}
#inside
{
border-style: solid;
border-width: 1px;
border-color: #000000;
background-color:rgba(0,0,0,0.5);
}
#t1
{
background-color: rgba(200,200,200,0.5);
border-color: #000000;
border-width: 1;
}